.footer-scroll-btn {
  position: fixed;   /* QUAN TRỌNG */
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(135deg, #f4f2f3, #ff9db8);
  color: #f8326a;
  font-size: 22px;
  cursor: pointer;
  z-index: 9999;     /* tránh bị che */
  box-shadow: 0 10px 25px rgba(247,108,133,0.4);
  transition: all 0.3s ease;
}

.footer-scroll-btn:hover {
  transform: translateY(-5px);
}